.navbar-custom{
	position:absolute;
	top:0;
	width:100%;
}

.navbar a{
	color:white;
	font-weight:bold;
	font-size:18px;

	
}
.navbar li a:hover{
	background-color:white;
	color:white;
	cursor:pointer
}
header{
	
	height:600px;
	color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-size:50px;
	
}
.trx{
	padding-top:200px 0;
	
	font-size:50px;
	text-shadow:3px 3px 2px black;
}
.prx{
	padding-bottom:200px;
	font-size:20px;
	text-shadow:3px 3px 2px black;
}
.footer{
	width:1370px;
	padding:20px 0;
	background:#2b2929;
	color:white;
	
	
	
}

.thumbnail{
	height:310px;
	width:400px;
	border: solid 0px lightblue;
	margin-top:50px;
		

}
.thumbnail img{
	height:300px;
	width:400px;
	border: solid 1px lightblue;
	background-color:#e6e6e6;
		

}
.a{
	background:#e6e6e6;
	height:400px;

    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;

	
}
.thumbnail img:hover{
transform:scale(1.1);
		
		border-radius:5px;
		transition:0.5s;
		

}
.item img{
	
	-webkit-filter:brightness(115%);
}



.about_para{
	font-size:18px;
	line-height:30px;
	text-align: justify;
}
.address{
	padding:10px;
	height:200px;
	font-size:18px;
	line-height:30px;
	border-radius:10px;
	background-color:#e6e6e6;
	text-align: justify;
	
}
.client{
	font-size:18px;
	line-height:30px;
	background-color:#F0F0F0;
	height:200px;
	padding:20px;
	border-radius:10px;
	text-align: justify;
}
.Quality{
	font-size:18px;
	line-height:30px;
	background-color:#F0F0F0;
	height:400px;
	padding:20px;
	border-radius:10px;
	text-align: justify;
}
.do{
	
	font-size:18px;
	line-height:30px;
	height:500px;
	padding:20px;
	text-align: justify;
}

 .logo1{
	color: #f4511e;
    font-size: 200px;
	padding:30px 50px;
 }
.form-group input:hover{
	border:solid 2px lightgreen;
	transition:0.3s;
}
.form-group textarea:hover{
	border:solid 2px lightgreen;
	transition:0.3s;
}

#header-top{
	color:white;
}
.findus{
	font-size:20px;
	padding-left:100px;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
@keyframes slide {
0% {
	 opacity: 0;
     transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
0% {
     opacity: 0;
     -webkit-transform: translateY(70%);
   } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
.car-control.right, .car-control.left {
    background-image: none;
    color: #f4511e;
}
.car-indicators li {
    border-color: #f4511e;
}
.car-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
.item span {
    font-style: normal;
} 

 .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 20%;
      height: 20%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
 }
.container {
	background: white;
}
.single-item {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 320px;
	border: solid 1px silver;
	box-shadow: 0 0 5px gray;
	
}
.top {
	background: maroon;
	height: 200px;
	}
	.top img {
		height: 100%;
		width: 100%;
	}
.bottom{
	height: 100px;
	
}

.item-title {
	color: maroon;
	margin-top: 0;
	margin-left: 10px;
	padding-top: 10px;
}

.cutted-price {
	
	font-size: 20px;
	margin-right: 10px;
}
.discounted-price {
	font-size: 20px;
	margin-right: 10px;
	color: maroon;
	font-style: italic;
}

.pp-title {
	font-size: 40px;
	
}
.pp-desc-head {
	font-size: 25px;
	text-decoration: underline;
}
.pp-desc-detail {
	
	
}
.pp-desc-detail p {
	font-size: 20px;
}
.pp-desc-detail ul {
	
	margin-top: 30px;
}
.pp-desc-detail ul  li{
	font-size: 20px;
	margin-top: 10px;
}

.list-group {}
.list-group .list-group-item {
	font-size: 22px;
	border-right: 0;
	border-left: 0;
	padding: 45px 0 45px 0;
}
.list-group .list-group-item:hover {
	background: #e6ffee;
}
.panel {
	border-radius: 0;
	
}
.noPadding {
	padding: 0;
}
